section{
    background: url(https://images.pexels.com/photos/5678108/pexels-photo-5678108.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-repeat: no-repeat;
    background-size: cover;
}
.height-set{
    height: calc(100vh - 200px);
    justify-content: center;
}