.banner{
    background: url(../../assets/img/banner1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 200px;
  
  }
  .overlay{background: #000f2580; width: 100%; height: 100%; }
  .home{
    position: absolute;
    right: 10px;
    top: 10px;
  }
  .upload-img{
    max-height: 200px;
    min-height: 200px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    .overlay-upload{
        background: #0006;
        border-radius: 10px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    mat-icon{
        text-align: center;
        font-size: 48px;
        height: 62px;
        width: 62px;
        color: #fff;
    }
    }
  }

  .upload-img-1{
    height: 90px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
  }

  // https://dummyimage.com/100x80/ccc/999

//   .mat-mdc-form-field {
//     margin: 40px 0;
//     width: 500px !important;
// }
// .mat-toolbar-single-row {
//     height: auto !important;
//     background: transparent;
// }
.mat-toolbar-single-row button {
    width: 200px;
}
// .mat-form-field {
//     width: 100%;
// }
#uploadFile {
    top: 0px;
    left: 0px;
    width: 100%;    
    z-index: 9;
    opacity: 0;
    height: 100%;
    cursor: pointer;
    position: absolute;
}
.menus{
    display: flex ;
    margin-top: -40px !important;
    max-width: 400px;
    margin: 0 auto;
    button{
      flex-grow: 1;
      margin: 6px;
      height: 70px !important;
      border-radius: 12px;
      display: flex;
      flex-direction: column;
      mat-icon{
        margin-right: 0 !important;
      }
    }
}
