
<section class="bg-light">
    <div class="container-fluid">
        <div class="row banner">
            <div class=" overlay d-flex align-items-center justify-content-center h-100">
            <h1 class="text-white text-center mb-0">Sell Your Products</h1>               
            </div>
        </div>
        <div class="menus">
            <button  mat-raised-button routerLink="/home"><mat-icon>home</mat-icon> Home</button>            
            <button  mat-raised-button><mat-icon>storefront</mat-icon> Sell </button>
            <button  mat-raised-button><mat-icon>shopping_bag</mat-icon> Buy </button>
            <button  mat-raised-button><mat-icon>person</mat-icon> Profile</button>
        </div>
        <div class="container">
        <form [formGroup]="ProductForm">
            <div class="row mt-5">
                <h2>Product Details</h2>
                <div class="col-sm-6 mb-3">
              
                    <div class="row">
                        
                        <div class=" col-sm-6">
                            <mat-form-field appearance="outline" class="col-12">
                                <mat-label>Item Name</mat-label>
                                <input formControlName="name" matInput placeholder="Item Name">
                            </mat-form-field>
                        </div>
                        <div class=" col-sm-6">
                            <mat-form-field appearance="outline" class="col-12">
                                <mat-label>Catogery</mat-label>
                                <mat-select formControlName="category">
                                    <mat-option *ngFor="let category of Catogeries" [value]="category.id">
                                      {{ category.category }}
                                    </mat-option>
                                  </mat-select>
                              </mat-form-field>
                        </div>
                        <div class=" col-sm-6">
                            <mat-form-field appearance="outline" class="col-12">
                                <mat-label>Seller</mat-label>
                                <mat-select formControlName="seller">
                                    <mat-option *ngFor="let seller of Users" [value]="seller.id">
                                      {{ seller.name }}
                                    </mat-option>
                                  </mat-select>
                              </mat-form-field>
                        </div>
                    </div>
                <div class="row">
                    <div class=" col-sm-6">                 
                        <mat-form-field appearance="outline" class="col-12">
                            <mat-label>Price</mat-label>
                            <input  formControlName="price" matInput placeholder="Price">
                          </mat-form-field>

                  </div>
                  <div class=" col-sm-6 pb-3">
                    <mat-radio-group aria-label="Select an option" >
                        <mat-radio-button value="1">Negotiable</mat-radio-button>
                        <mat-radio-button value="2">Fixed Price</mat-radio-button>
                      </mat-radio-group>
                  </div>
                  </div>
                  <div>
                    <mat-form-field appearance="outline" class="col-12">
                        <mat-label>Item Description</mat-label>
                        <input  formControlName="description"  matInput placeholder="Item Description">
                    </mat-form-field>
                  </div>
                  <div>
                    <mat-form-field appearance="outline" class="col-12">
                        <mat-label>Location</mat-label>
                        <input formControlName="location" matInput placeholder="Location">
                        <mat-icon matSuffix color="primary">location_on</mat-icon>
                    </mat-form-field>
                  </div>
                 
                  <!-- <div>
                    <mat-form-field  appearance="outline" class="col-12">
                        <div>
                          <mat-toolbar>
                            <input matInput [value]="fileAttr" readonly name="name" />
                            <button mat-flat-button color="primary">Browse File</button>
                          </mat-toolbar>
                          <input
                            type="file"
                            #fileInput
                            id="uploadFile"
                            formControlName="photo"
                            (change)="uploadFileEvt($event)"
                            name="uploadFile"
                            multiple="multiple"
                            accept="image/*"
                          />
                        </div>
                      </mat-form-field>
                  </div> -->
              
                  <button mat-raised-button color="primary" (click)="saveProduct()" class="mt-2"><mat-icon>save</mat-icon> Save</button>
                </div>
                
                <div class="col-sm-6 col-12 mb-3">
<!-- <pre><code>{{ devices | json }}</code></pre> -->

                    <div class="row row-cols-3">
                        <div class="upload-img col col-sm mb-2" *ngFor="let picURL of pics">                        
                            <div class="upload-img" [ngStyle]="{'background': 'url(' + picURL + ') no-repeat 0 0 / cover'}">
                                <div class="overlay-upload">
                                    <mat-icon>photo_camera</mat-icon>
                                </div>
                            </div>
                        </div>

                        <div class="upload-img col col-sm mb-2" *ngFor="let url of urls">                        
                            <div class="upload-img" [ngStyle]="{'background': 'url(' + url + ') no-repeat 0 0 / cover'}">
                                <div class="overlay-upload">
                                    <mat-icon>photo_camera</mat-icon>
                                </div>
                            </div>
                        </div>
                        <div class="upload-img col-12 col-sm-12 mb-2" *ngIf="fileAttr == 'Choose Images'">                        
                            <div class="upload-img" style="background: url(https://dummyimage.com/ccc/999);  max-height: 200px;">
                                <div class="overlay-upload">
                                    <mat-icon>photo_camera</mat-icon>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        
                        <div class=" col-sm-6">
                        <button mat-raised-button color="accent" class="w-100" >
                            <mat-icon>photo</mat-icon>
                            <input
                            type="file"
                            #fileInput
                            id="uploadFile"
                            formControlName="photo"
                            (change)="uploadFileEvt($event)"
                            name="uploadFile"
                            multiple="multiple"
                            accept="image/*"
                          /> Choose from Gallery</button>
                      </div>
                      <div class=" col-sm-6">
                        <button mat-raised-button color="warn" (click)="openCamera()" class="w-100"><mat-icon>camera</mat-icon> Open Camera</button>
                      </div>
                    </div>
                </div>
            </div>
        </form>
        </div>
        
        </div>
        </section>


 