
@import 'theme';

@import "~bootstrap/dist/css/bootstrap.css";
@import 'utilities';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

button{height: 45px !important;}


.otp-input{
    width: 65px !important;
    height: 57px !important;
}


.mdc-text-field--filled{
  border-radius: 0 !important;
}
.bdr{
  .mdc-text-field{
   border-right: 1px solid #ccc;
  }
}

.ng-otp-input-wrapper{
  display: flex !important;
  .otp-input{
    flex-grow: 1;
  }
}