
@import 'theme';

@import "~bootstrap/dist/css/bootstrap.css";
@import 'utilities';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

button{height: 45px !important;}


.otp-input{
    width: 65px !important;
    height: 57px !important;
}

.mat-form-field-appearance-outline .mat-form-field-outline-start {
    border: 1px solid rgb(255, 0, 30) !important;
    border-right-style: none !important;
  }
  
  .mat-form-field-appearance-outline .mat-form-field-outline-end {
    border: 1px solid rgb(255, 0, 0) !important;
    border-left-style: none !important;
  }
  
  .mat-select-panel ng-animating {
    visibility: hidden;
  }
  
  .mdc-text-field--filled{
    border-radius: 0 !important;
  }