
<section class="bg-light">
    <div class="container-fluid">
        <div class="row banner">
            <div class=" overlay d-flex align-items-center h-100">
                <div class="home">
                   <mat-form-field class="col-12">
                            <mat-label>Change Location</mat-label>
                            <mat-select  [(value)]="selected">
                              <mat-option *ngFor="let Location of Location" [value]="Location.value">
                                {{Location.viewValue}}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                </div>
                
                <div class="col-sm-6 m-auto">
                    <h1 class="m-auto text-white text-bold text-left mb-4">You can buy Near your homely items you want. <br> Like Bartter system.</h1>
                    
                    <div >                       
                        <mat-form-field class="col-12">
                            <mat-label>Search</mat-label>
                            <input matInput placeholder="Ex. Pachamulak" #filter>
                            <mat-icon matSuffix (click)="filterResults(filter.value)">search</mat-icon>
                        </mat-form-field>
                        <div  class="col-12">
                          <h3 class="text-white mb-1">Sell your own products ?</h3>
                          <button mat-raised-button color="accent" class="sell"><mat-icon>photo_camera</mat-icon> Sell Items</button>
                        </div>
                    </div>
                   
                </div>
               
            </div>

            
          
        </div>
        <div class="row">
          <div class="d-flex justify-content-center">
            
          </div>
        </div>

        <div class="container">
            <div class="mt-5 d-flex justify-content-between">
              <div>
                <h3 class="mb-1 text-primary"><mat-icon>location_on</mat-icon> Thrissur - Varatharapilly</h3>
                <h1>Vegetables & Fruits Near you</h1>
              </div>
              <div>
                <button mat-stroked-button color="primary">More Items</button>
              </div>
            </div>
           <div class="row">
                <app-housing-location class="col-sm col-sm-3 mb-5" 
                *ngFor="let ListtingItems of filteredLocationList"
                [ListtingItems]="ListtingItems">
              </app-housing-location>
          </div>
            
         
        
        </div>
        </div>
        </section>


 