
<section class="bg-light">
    <div class="container-fluid">
        <div class="row banner">
            <div class=" overlay d-flex align-items-center h-100">
                <div class="home">
                   <mat-form-field class="col-12">
                            <mat-label>Change Location</mat-label>
                            <mat-select  [(value)]="selected">
                              <mat-option *ngFor="let Location of Location" [value]="Location.value">
                                {{Location.viewValue}}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                </div>
                
                <div class="col-sm-6 m-auto">
                    <h1 class="m-auto text-white text-bold text-left mb-4">You can buy Near your homely items you want. <br> Like Bartter system.</h1>
                    
                    <div >                       
                        <mat-form-field class="col-12">
                            <mat-label>Search</mat-label>
                            <input matInput placeholder="Ex. Pachamulak" #filter>
                            <mat-icon matSuffix (click)="filterResults(filter.value)">search</mat-icon>
                        </mat-form-field>
                        <div  class="col-12">
                          <h3 class="text-white mb-1">Sell your own products ?</h3>
                          <button mat-raised-button color="accent" class="sell" routerLink="/sellitem"><mat-icon>photo_camera</mat-icon> Sell Items</button>
                        </div>
                    </div>
                   
                </div>
               
            </div>

            
          
        </div>
        <div class="row">
          <div class="d-flex justify-content-center">
            
          </div>
        </div>

        <div class="container">
           
           <div class="row">
              

              <ng-container *ngFor="let categoryGroup of categorizedItems | keyvalue">
                <!-- Display category name -->
                <div class="mt-5 d-flex justify-content-between">
                  <div>                   
                    <h2 class="mb-1"> {{ categoryGroup.key }} Near you</h2>
                    <h3 class="text-primary">Thrissur - Varatharapilly</h3>
                  </div>
                  <div>
                    <button mat-stroked-button color="primary">More Items</button>
                  </div>
                </div>              
              
                <!-- Loop through items in the category and display their details -->
                <div *ngFor="let item of categoryGroup.value" class="col-sm col-sm-3 mb-5">
                  <mat-card class="example-card">
                    <div mat-card-image class="bg-img-1"  style="background: url({{item.photo}});"></div>              
                    <mat-card-content class="mx-2">
                      <h2 class="mb-1 mt-3 text-truncate">{{ item.name }}</h2>
                    </mat-card-content>
                    <mat-card-actions class="m-3 d-flex justify-content-between">
                      <button mat-raised-button color="primary" [routerLink]="['/details', item.id]">Buy Now</button>
                      <button mat-button color="warn"><h2 class="mb-0">Rs. {{ item.price }}</h2></button>
                    </mat-card-actions>
                  </mat-card>
                </div>
              </ng-container>
          </div>
            
         
        
        </div>
        </div>
        </section>


 